doctype html
html(lang='en')
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    meta(name='copyright', content='Copyright (c) 2016')
    title Suitcase Studio
    link(href='/static/bootstrap/css/bootstrap.css', rel='stylesheet')
    link(href='main.css', rel='stylesheet')
    script(src='/static/jquery/jquery.js')
    script(src='/static/bootstrap/js/bootstrap.js')
 body
    .navbar-wrapper
      .container
        .navbar.navbar-inverse.navbar-static-top(role='navigation')
          .container
              .navbar-header
                  button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
                      span.icon-bar
                      span.icon-bar
                      span.icon-bar
                  a.navbar-brand(href="/") Suitcase Studio
              div(class="collapse navbar-collapse")
                  ul(class="nav navbar-nav")
                      li(class=current.source=='index'?'active':undefined)
                          a(href="/") Home
                      li(class=title=='Contact'?'about':undefined)
                          a(href="/about") About
                      li(class=title=='Contact'?'music':undefined)
                          a(href="/music") Music
    != yield
