.page-content
  h4 <b>Suitcase Studio</b> is an instrumental band created by Aaron Kinman and Jordan Colburn.

br
br
.container.marketing
    // Three columns of text below the carousel
  .row
    .col-lg-2
    .col-lg-4
      img.img-circle(src='/images/aaron.jpg', alt='Aaron', style='width: 140px; height: 140px;')
      h2 Aaron Kinman
      p
        | Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
      p
        a.btn.btn-default(href='#', role='button') View details &raquo;
    // /.col-lg-6
    .col-lg-4
      img.img-circle(src='/images/jordan.jpg', alt='Jordan', style='width: 140px; height: 140px;')
      h2 Jordan Colburn
      p
        | Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
      p
        a.btn.btn-default(href='#', role='button') View details &raquo;\

      .col-lg-2
